# Test Results: binary

## Summary

| Metric | Value |
|--------|-------|
| Total Fields Tested | 184 |
| Passed | 92 |
| Failed | 92 |
| Score | 50.0% |
| Duration | 273ms |

## Results by Entity

### language_candidates

- Fields: 92/184 (50.0%)
- Computed columns: has_grammar, question, predicted_answer, prediction_predicates, prediction_fail, is_description_of, is_open_closed_world_conflicted, relationship_to_concept

| PK | Field | Expected | Actual |
|-----|-------|----------|--------|
| a-coffee-mug | question | Is A Coffee Mug a language? | None |
| a-coffee-mug | predicted_answer | False | None |
| a-coffee-mug | prediction_predicates | No Syntax & No Parsing Neede & | None |
| a-coffee-mug | is_description_of | False | None |
| a-game-of-fortnite | question | Is A Game of Fortnite a langua | None |
| a-game-of-fortnite | predicted_answer | False | None |
| a-game-of-fortnite | prediction_predicates | No Syntax & Requires Parsing & | None |
| a-game-of-fortnite | is_description_of | False | None |
| a-running-app | question | Is A Running App  a language? | None |
| a-running-app | predicted_answer | False | None |
| a-running-app | prediction_predicates | No Syntax & Requires Parsing & | None |
| a-running-app | is_description_of | False | None |
| a-smartphone | question | Is A Smartphone a language? | None |
| a-smartphone | predicted_answer | False | None |
| a-smartphone | prediction_predicates | No Syntax & No Parsing Neede & | None |
| a-smartphone | is_description_of | False | None |
| a-thunderstorm | question | Is A Thunderstorm a language? | None |
| a-thunderstorm | predicted_answer | False | None |
| a-thunderstorm | prediction_predicates | No Syntax & Requires Parsing & | None |
| a-thunderstorm | is_description_of | False | None |
| ... | ... | (72 more) | ... |
