# Test Results: python

## Summary

| Metric | Value |
|--------|-------|
| Total Fields Tested | 184 |
| Passed | 161 |
| Failed | 23 |
| Score | 87.5% |
| Duration | 111ms |

## Results by Entity

### language_candidates

- Fields: 161/184 (87.5%)
- Computed columns: has_grammar, question, predicted_answer, prediction_predicates, prediction_fail, is_description_of, is_open_closed_world_conflicted, relationship_to_concept

| PK | Field | Expected | Actual |
|-----|-------|----------|--------|
| a-coffee-mug | prediction_fail | None |  |
| a-game-of-fortnite | prediction_fail | None |  |
| a-running-app | prediction_fail | None |  |
| a-smartphone | prediction_fail | None |  |
| a-thunderstorm | prediction_fail | None |  |
| a-uml-file | prediction_fail | None |  |
| an-docx-doc | prediction_fail | None |  |
| an-xlsx-doc | prediction_fail | None |  |
| binary-code | prediction_fail | None |  |
| docx-editing | prediction_fail | None |  |
| editing-airtable-base | prediction_fail | None |  |
| english | prediction_fail | None |  |
| falsifier-a | prediction_fail | None | Falsifier A Isn't a Family Feu |
| falsifier-b | prediction_fail | None | Falsifier B Is a Family Feud L |
| math | prediction_fail | None |  |
| owa-cwa-falsifier | prediction_fail | None |  - Open World vs. Closed World |
| owl-rdf-graphql-generally | prediction_fail | None |  |
| python | prediction_fail | None |  |
| running-calculator-app | prediction_fail | None |  |
| sign-language | prediction_fail | None |  |
| ... | ... | (3 more) | ... |
